*.class

# Package Files #
*.war
*.ear
*.iml
*.ipr
*.iws
*.jar
/api/
/classes/
/build/
/lib/
/out/
.idea/
settings.xml

/.gradle/

build/

gradle.properties
secret.asc

package.github.yml
package.hub.yml
package-lock.php.yml

vendor/

out/

package.*.yml
!package.php.yml

.gradle/
gradle/
gradlew
gradlew.bat
build.gradle
.phpintel/
/dn-antlr4/sdk/
/dn-antlr4/antlr-complete.jar