/**
 * Глобальный файл стилей, он будет применён ко всем окнам develnext, независимо от темы
 */

.root {
    -fx-font-size: 0.938em;
    -fx-font-weight: 400;
}

/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                   *
 *                                                                             *
 ******************************************************************************/

.hyperlink {
    -fx-padding: 0; /*0.166667em 0.25em 0.166667em 0.25em;*/ /* 2 3 2 3 */
    -fx-content-display: LEFT;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
.hyperlink,
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-text-fill: -fx-default-button;
}
.hyperlink:armed,
.hyperlink:visited,
.hyperlink:hover:armed {
    -fx-text-fill: -fx-default-button;
}
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-underline: true;
}

.hyperlink:visited,
.hyperlink:visited:armed {
    -fx-underline: false;
}
.hyperlink:focused {
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 0px;
}
.hyperlink:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.flat-button {
    -fx-cursor: hand;
}

.tooltip {
    -fx-font-size: 1em;
}

.combo-box > .list-cell:hover {
    -fx-background-insets: 1 -3 1 1, 1 -2 1 1 ;
}

.without-focus, .without-focus:focused {
    -fx-focus-color: transparent;
}

.scroll-pane.without-focus {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane.without-focus:focused {
    -fx-background-insets: 0;
}

.scroll-pane.without-focus .corner {
    -fx-background-insets: 0;
}

.nav {
   /* -fx-hgap: 5;     */
}

.nav .nav-item {
    -fx-padding: 5px 10px;
}

.button, .combo-box-base, .list-view, .text-area, .text-field, .tab-header-area, .tab-pane, .tab-header-background {
    -fx-background-radius: 2px;
}

.list-view {
    -fx-background-radius: 0px;
}

.scroll-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:contains-focus {
    -fx-background-color: -fx-box-border, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 0, 0, 0;
}

.text-area > .scroll-pane {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.text-area:focused > .scroll-pane {
    -fx-background-insets: -1.4, -0.3, 1;
    -fx-background-radius: 2, 0, 0;
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-background;
}
