.root {
    /***************************************************************************
     *                                                                         *
     * The main color palette from which the rest of the colors are derived.   *
     *                                                                         *
     **************************************************************************/

-fx-base: #2b2b2b;
    -fx-background: derive(-fx-base, 6%);
    -fx-background-color: -fx-background;
    -fx-hover: derive(-fx-base, 12%);
    -fx-focus-color: -fx-base;
    -fx-faint-focus-color: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: derive(-fx-base, -4%);
    -fx-pressed-base: derive(-fx-base, 6%);
    -fx-hover-base: derive(-fx-base, 2%);
    -fx-color: -fx-base;
    -fx-accent: #38b5ed;
    -fx-green: #82bb92;
    -fx-blue: #38b5ed;
    -fx-red: #e2574c;
    -fx-yellow: #f9a300;
    -fx-font-color: derive(-fx-base, 90%);
    -fx-lighting-yellow: #44413c;
    -fx-lighting-green: #3f443c;
    -fx-lighting-blue: #3c3f44;
    -fx-lighting-err: #443c3c;
    -fx-lighting-acc: -fx-accent;
    -fx-lighting-hover: derive(-fx-base, 13%);
    
    /* Цвет border у табличных элементов*/
    -fx-box-border: derive(-fx-color, 1%);

    /* Цвет border у текстовых элементов*/
    -fx-text-box-border: derive(-fx-color, -8%);
    
    /* Базовый градиент всех элементов управления*/
    -fx-body-color: derive(-fx-color, 10%);
    
    /* Цвет border у компонентов управления*/
    -fx-outer-border: derive(-fx-color, 3%);
    
    /* Цвет внутреннего border у компонентов*/
    -fx-inner-border: derive(-fx-base, 15%);
    
    /* Цвет внутреннего border у компонентов*/
    -fx-selection-bar: -fx-hover;
    -fx-selection-bar-non-focused: -fx-hover;
    -fx-selection-bar-text: -fx-accent;
    
    
    /* Текстовые параметры*/
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 0.938em;
    -fx-font-weight: 400;
}

/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                   *
 *                                                                             *
 ******************************************************************************/

.hyperlink {
    -fx-padding: 0; /*0.166667em 0.25em 0.166667em 0.25em;*/ /* 2 3 2 3 */
    -fx-content-display: LEFT;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
.hyperlink,
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-text-fill: -fx-default-button;
}
.hyperlink:armed,
.hyperlink:visited,
.hyperlink:hover:armed {
    -fx-text-fill: -fx-default-button;
}
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-underline: true;
}

.hyperlink:visited,
.hyperlink:visited:armed {
    -fx-underline: false;
}
.hyperlink:focused {
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 0px;
}
.hyperlink:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.flat-button {
    -fx-cursor: hand;
}

.tooltip {
    -fx-font-size: 1em;
}

.combo-box > .list-cell:hover {
    -fx-background-insets: 1 -3 1 1, 1 -2 1 1 ;
    -fx-background-color: gray;
}

.without-focus, .without-focus:focused {
    -fx-focus-color: transparent;
}

.scroll-pane.without-focus {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane.without-focus:focused {
    -fx-background-insets: 0;
}

.scroll-pane.without-focus .corner {
    -fx-background-insets: 0;
}

.nav {
   /* -fx-hgap: 5;     */
}

.nav .nav-item {
    -fx-padding: 5px 10px;
}

.nav .nav-item.selected {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: silver;
    -fx-border-radius: 3px;
}

.nav .nav-hint-text {
    -fx-text-fill: gray;
    -fx-padding:  0 0 0 10;
}

.nav .nav-hint-total {
    -fx-text-fill: gray;
    -fx-font-weight: bold;
}

.button, .combo-box-base, .list-view, .text-area, .text-field, .tab-header-area, .tab-pane, .tab-header-background {
    -fx-background-radius: 2px;
}

.list-view {
    -fx-background-radius: 0px;
}

.scroll-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:contains-focus {
    -fx-background-color: -fx-box-border, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 0, 0, 0;
}

.text-area > .scroll-pane {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.text-area:focused > .scroll-pane {
    -fx-background-insets: -1.4, -0.3, 1;
    -fx-background-radius: 2, 0, 0;
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-background;
}