.root {
    /* Основной цвет элементов */
    -fx-base: #262626;

    /* Цвет фона будет немного светлее */
    -fx-background: #1A1A1A;
    
    -fx-background-color: -fx-background;

    -fx-hover: derive(-fx-base, 12%);
    -fx-focus-color: -fx-base;
    -fx-faint-focus-color: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: derive(-fx-base, -4%);
    -fx-pressed-base: derive(-fx-base, 6%);
    -fx-hover-base: derive(-fx-base, 2%);
    -fx-color: -fx-base;
    -fx-accent: #38b5ed;
    -fx-green: #82bb92;
    -fx-blue: #38b5ed;
    -fx-red: #e2574c;
    -fx-yellow: #f9a300;
    -fx-font-color: #dedede;
    -fx-lighting-yellow: #44413c;
    -fx-lighting-green: #3f443c;
    -fx-lighting-blue: #3c3f44;
    -fx-lighting-err: #443c3c;
    -fx-lighting-acc: -fx-accent;
    -fx-lighting-hover: derive(-fx-base, 13%);
    
    /* Цвет border у табличных элементов*/
    -fx-box-border: derive(-fx-color, 1%);

    /* Цвет border у текстовых элементов*/
    -fx-text-box-border: derive(-fx-color, -8%);
    
    /* Базовый градиент всех элементов управления*/
    -fx-body-color: derive(-fx-color, 10%);
    
    /* Цвет border у компонентов управления*/
    -fx-outer-border: derive(-fx-color, 3%);
    
    /* Цвет внутреннего border у компонентов */
    -fx-inner-border: derive(-fx-base, 15%);
    
    /* Цвет внутреннего border у компонентов */
    -fx-selection-bar: -fx-hover;
    -fx-selection-bar-non-focused: -fx-hover;
    -fx-selection-bar-text: -fx-accent;
}

/* Меню */
/* Цвет фона у подменю*/
.menu * {
    -fx-background-color: -fx-background;
}

/* У текста в меню фон прозрачный */
.menu .label {
    -fx-background-color: transparent;
}

/* Наведение на пункт меню */
.menu:hover * {
    -fx-background-color: -fx-base;
}

.label {
    -fx-text-fill: -fx-font-color;
}

/* Цвет у кнопки "вход в аккаунт" */
.button.flat-button {
    /*-fx-text-fill*/
    -fx-text-fill: -fx-font-color;
    -fx-background-color: -fx-background;
}

/* Панель табов - неактивный таб */
.tab-pane .tab {
    -fx-background-color: -fx-background;
}

/* Панель табов - активный таб */
.tab-pane .tab:selected {
    -fx-background-color: -fx-base;
}

/**
 * Вкладка проект - фрейм "синхронизация с develnext"
 */
#syncPane, #need-auth-pane, #need-auth-pane > * {
    -fx-background-color: -fx-background;
}