.root {
    /***************************************************************************
     *                                                                         *
     * The main color palette from which the rest of the colors are derived.   *
     *                                                                         *
     **************************************************************************/

    /* A light grey that is the base color for objects.  Instead of using
     * -fx-base directly, the sections in this file will typically use -fx-color.
     */
    /*-fx-base: #ececec;*/
    -fx-accent: #c5c5c5;
    -fx-default-button: #1c67b1;

    -fx-focus-color: #2788d3;
    -fx-faint-focus-color: #039ED322;

    -fx-body-color: #ececec;
    /*-fx-body-color: linear-gradient(to bottom,
                        ladder(
                                -fx-color,
                                derive(-fx-color,8%) 85%,
                                derive(-fx-color,10%) 90%
                        ),
                        derive(-fx-color,-3%));*/
}

.combo-box > .list-cell:hover {
    -fx-background-color: gray;
}

.nav .nav-item.selected {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: silver;
    -fx-border-radius: 3px;
}

.nav .nav-hint-text {
    -fx-text-fill: gray;
    -fx-padding:  0 0 0 10;
}

.nav .nav-hint-total {
    -fx-text-fill: gray;
    -fx-font-weight: bold;
}

/**
 * Вкладка проект - фрейм "синхронизация с develnext"
 */
#syncPane, #need-auth-pane, #need-auth-pane > * {
    -fx-background-color: white;
}